<div class="col-md-4 col-xl-3 mt-md-5">
  <div class="sidebar px-4 py-md-0">

    <div class="search">
      <p class="title h6 text-white p-1 d-inline-block bg-primary rounded">Search</p>

      <form class="input-group" action="{%url 'blog:search_post'%}" method="GET">
        <input type="text" class="form-control" name="q" placeholder="Search"
        value="{{request.GET.q}}">

      </form>
    </div>

    <hr>

<div class="category">
      <p class="h6 text-white p-1 d-inline-block bg-primary rounded">Categories</p>

    <div class="row link-color-default fs-14 lh-24">

      <div class="col-6 ">

        {%for category in categories%}
         <div class="text-muted text-capitalize">
            <a href="{% url 'blog:post_list_by_category' category.id %}">{{category.name}}</a>
         </div>
        {%endfor%}

      </div>
    </div>
</div>

    <hr>


      <p class="title h6 text-white p-1 d-inline-block bg-primary rounded">Tags</p>
    <div class="gap-multiline-items-1">

      {%for tag in tags%}
      <div class="text-capitalize badge badge-dark mb-2 p-1">
         <a href="">{{tag.name}}</a>
      </div>
     
      {%endfor%}

    </div>

    <hr>

    <h6 class="sidebar-title">About</h6>
    <p class="small-3">TheSaaS is a responsive, professional, and multipurpose SaaS, Software, Startup and WebApp landing template powered by Bootstrap 4. TheSaaS is a powerful and super flexible tool for any kind of landing pages.</p>


  </div>
</div>
