{% extends 'layouts/base.html' %}

{% block newsletter %}
{% include 'partials/newsletter.html' %}
{% endblock %}


{% block content %}
<div>
	{% if category%}
	<h2>All Posts from "{{ category.name|capfirst }}"</h2>
	{% endif %}


	{%if search%}
	<div class="text-center text-muted h5">
		Search for {{search}},
		{{posts.count}} result found
	</div>
	{%endif%}
</div>

{#post_list#}
{% for post in posts %}
{% include 'partials/post_list_snippet.html' with instance=post %}
{%empty%}
<div>No Posts found</div>
{% endfor %}

{#pagination#}
{% include 'partials/pagination.html' %}
{% endblock %}
